# for Django
SECRET_KEY = "any_symbols"
# DB config
POSTGRES_PASSWORD = 'password_for_db'
POSTGRES_USER = 'user_for_db'
POSTGRES_DB = 'name_for_db'
# for hashing
PASSWORD_START = 'any_symbols'
PASSWORD_FINISH = 'any_other_symbols'
